In [ ]:
# TABLES PRACTICE: table generator

In [ ]:
from datascience import *

In [ ]:
def make_table() -> Table():
    values = []
    tbl = Table()

    col_header = input("Enter text for name of first column: ")
    num_data = input("Enter positive integer for number of data values: ")
    num_data = int(num_data)

    if num_data > 0:
        i = 0
        while i <= num_data:
            col_data = input(f"Enter data for row {i+1}: ")
            values.append(col_data)
            i += 1
    else:
        tbl.with_columns(col_header, [])



    print(tbl)

In [ ]:
def main():
  make_table()

In [ ]:
main()

Enter text for name of first column: robots
Enter positive integer for number of data values: 3
Enter data for row 1: robbie
Enter data for row 2: humanoform
Enter data for row 3: n/a
Enter data for row 4: bob